<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/key.png" type="image/x-icon">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="style.css"> 
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center; ">
        Authentication System       
       
      </h1>
<div id="reset-forgot-form" >
    <form action="/resetForgotPass" method="post">
        <div class="form-group">
            <input class="form-control" disabled type="email" value="<%=email%>" id="" >
          </div>

  <div class="form-group">
    <input class="form-control" type="password" name="password" id="" placeholder="Enter New Password ">
  </div>
    
  <div class="form-group">
    <input class="form-control email"  type="password" name="re_password" id="" placeholder="Re-Enter New Password">
    
  </div>
   <input type="text" value="<%=token%>" hidden name="token">
  <div class="form-group">
    <button class="btn btn-success"  type="submit">Reset</button>
  </div>
  </form>
</div>




<script >
         
    
        
  <% if(flash.success && flash.success.length>0) { %>
      new Noty({
      type:"success",
      text: "<%=flash.success%>",
      timeout:1000,
      theme:"sunset"
      
  }).show();
  <%}%>
 </script>
 <script>
       <% if(flash.error && flash.error.length>0) { %>
      new Noty({
      type:"error",
      text: "<%=flash.error%>",
      timeout:1000,
      theme:"sunset"
      
  }).show();
  <%}%>
 </script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
         <script src="scripts/main.js"></script>
</body>
</html>