<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/key.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

    <link rel="stylesheet" href="style.css">
    <title>SignUp</title>
</head>
<body>
    <h1 style="text-align: center; ">
        Authentication System       
       
      </h1>
    <form action="/signup" method="post" id="loginForm">
         <%if((typeof err)!="undefined"){%>
            <h3><%=err%></h3>
            <%}%>
        <div class="form-group">
            <input placeholder="Name" class="form-control" type="text" name="name" id="">

        </div>

        <div class="form-group">

            <input placeholder="Email" class="form-control" type="email" name="email" id="">
        </div>
      
        <div class="form-group">

            <input placeholder="Password" class="form-control" type="password" name="password" id="pass"> <span class="hidden"  id="infoPassIcon"><svg fill="currentColor" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill"  xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg></span>
              <span id="infoPass">
                  <ul>
                   <li>At least 8 characters—the more characters, the better.</li>
                   <li>A mixture of both uppercase and lowercase letters.</li>
                   <li>A mixture of letters and numbers.</li>
                   <li>Inclusion of at least one special character, e.g., ! @ # $ </li> 
                    
                   
                     
                  </ul>

              </span>
        </div>
    
        <div class="form-group">
            <input  placeholder="ReEnter Password" class="form-control email" type="password" name="re_password" id="">
        </div>
    
         <div class="form-group">
            <button class="btn btn-primary" type="submit">SIGNUP</button>
         </div>
         <div class="form-group">
           
            Have an Account!! <a href="/login"> <b>
                Login Here
            </b></a>

         </div>



    </form>
    <script >
        <% if(flash.error && flash.error.length>0) { %>
    new Noty({
    type:"error",
    text: "<%=flash.error%>",
    timeout:1000,
    theme:"sunset"
    
}).show();
  <%}%>
</script>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
     <script src="scripts/main.js"></script>
</body>
</html>