h1{

    padding: 5%;
}
#loginForm{

     width: 30%;
     margin: auto;
}

.form-group {
    text-align: center;

}

body{
    background-image: url("/Images/background.png");
    
    background-repeat: no-repeat;
    background-size: auto;

    
}
#resetForm,#forgot-form,#reset-forgot-form{
 
    
    width: 30%;
    text-align: center;
    margin: auto;
}

.hidden{
    display: none;
}

.show{
    display:initial;
}

#infoPassIcon{
    color: red;
    float: right;
    
    
}
#infoPass{
    z-index: -1;
    font-size: small;
    position: absolute;
    visibility: hidden;
    background-color:lightcoral;
    color: white;
    font-weight: bold;
}

#infoPassIcon:hover~#infoPass{
    
    position: absolute;
    visibility:visible;
    z-index: 1;
}

ul{
    /* padding-inline-start: 20px; */
    list-style: none;
    padding: 10px;
    text-align: left;
    
   
    
}
