h1{

    padding: 5%;
}
#loginForm{

     width: 30%;
     margin: auto;
}

.form-group {
    text-align: center;

}
a{
    color: white;
}

body{
    background-image: url("/Images/back.jpg");
    background-size: cover;
   
    
}
#resetForm,#forgot-form,#reset-forgot-form{
 
    
    width: 30%;
    text-align: center;
    margin: auto;
}

.hidden{
    display: none;
}

.show{
    display:initial;
}

#infoPassIcon{
    color: red;
    float: right;
    margin: -30px 5px;
    
    
}
#infoPass{
    z-index: -1;
    font-size: small;
    position: absolute;
    visibility: hidden;
    background-color:lightcoral;
    color: white;
    font-weight: bold;
}

#infoPassIcon:hover~#infoPass{
    
    position: absolute;
    visibility:visible;
    z-index: 1;
}

ul{
    /* padding-inline-start: 20px; */
    list-style: none;
    padding: 10px;
    text-align: left;
    
   
    
}
#googleButton{
    width: 29.7%;
    background-color: whitesmoke;
    color: dodgerblue;
    box-shadow: 0 0 5px 2px blue;
}

@media screen and (max-width: 780px) {
   
    #resetForm,#forgot-form,#reset-forgot-form,#loginForm{
 
    
        width: 95vw;
        text-align: center;
        margin: auto;
    }
    #googleButton{
        width: 95vw;
    }
    body{
        background-image: url(/Images/background_m.jpg);
        
    }
   
  }
  
  body{
      color: white;
  }